/* @media only screen and (min-width: 1535px) {} */

html, body{
  height: 100%;
}

body {
  background-image: url(../images/didier-weemaels-36055-unsplash.jpg);
  background-size: cover;
  -webkit-transition: background-image 0.9s ease-in-out;
  transition: background-image 0.9s ease-in-out;
}

body.offline {
  background-image: url(../images/didier-weemaels-36055-unsplash-grey.jpg);
}

nav.ghost {
  background: transparent;
  -webkit-box-shadow:none;
  box-shadow: none;
}

#offline,
#offline i {
  position: relative;
}

#offline i svg {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(15%);
}

#offline {
  display: none;
  opacity: 0;
  transition: opacity .9s ease-in-out;
}

body.offline #offline {
  display: block;
  opacity: 1;
}

h2.title {
  text-shadow: #FC0 1px 0 10px;
}

input[type=text].omnibox {
  font-size: 40px;
  border-bottom: 3px solid #26a69a;
}

input[type=text].omnibox:not(.browser-default):focus:not([readonly]) {
  border-bottom: 2px solid #26a69a;
}

#mode-switch {
  margin-top: 1em;
  display: none;
}

#converter-wrap {
  padding-top: 20px;
  position: relative;
}

.converter-underlay,
.converter-overlay {
  min-height: 90px;
  transition: min-height .3s ease-out;
}

.converter-underlay {
  background: #fff;
  border-radius: 10px;
  opacity: .8;
}

.converter-overlay {
  width: 100%;
  position: absolute;
  margin-top: -7.3em;
}

.converter-overlay .switch-wrap {
  position: relative;
  min-height: inherit;
}

.converter-overlay .switch-wrap button {
  position: absolute;
  bottom: auto;
  transition: bottom  .6s ease-out;
}

.converter-overlay .omnibox-wrap,
.converter-overlay .multibox-wrap {
  transition: opacity .8s;
}

.converter-overlay .omnibox-wrap {
  display: block;
  opacity: 1;
}

.converter-overlay.expanded .omnibox-wrap {
  display: none;
  opacity: 0;
}

.converter-overlay .multibox-wrap {
  display: none;
  opacity: 0;
}

.converter-overlay.expanded .multibox-wrap {
  display: block;
  opacity: 1;
}

@media only screen and (max-width: 600px){
  .converter-underlay.expanded, .converter-overlay.expanded {
    min-height: 175px;
  }

  .converter-overlay.expanded {
    margin-top: -14em;
  }

  .converter-overlay.expanded .switch-wrap button {
    bottom: 50px;
  }
}

#converter-result-wrap {
  /* display: none; */
  opacity: 0;
  transition: opacity .9s linear;
}

#converter-result-wrap.has-results {
  /* display: block; */
  opacity: 1;
}

#converter-result-wrap .inner {
  opacity: 0.9;
  border-radius: 10px;
}

#src-result {
  font-size: x-large;
}

#dest-result {
  font-size: xx-large;
}

#src-result, #dest-result {
  text-transform: capitalize;
  margin: 0.5em 0;
}

